<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fly with Me</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  </head>
  <body>
    <!-- The div that holds our map-->
  <div id=""></div>

  <!--D3-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!--Leaflet JavaScript-->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- API Key-->
    

    <!-- JavaScript-->
  <script       src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--NavBar-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src = "/static/images/logo.png" alt="logo" style="width:50px;">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/flightsearch">Flight Search</a></li>
        <li><a href="/airportdata">Data</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/aboutus"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
    </div>
  </nav>

  <div class="airplane-flex-container">
    <div class="airplane-box-1">
      <h1>Welcome to Flightcast</h1><br>
      <p class= "begin-font">Flightcast is your optimal place to obtain data on any airline or flight. It is a one stop location comparison site for you to determine which airline would have you to your final destination in the optimal time and with minimal delays. </p>

      <p class="begin-font">We have pulled API data from AllAirports JSON into a sqlite database to populate a table of all airport origins and destinations within the United States.</p><br>
      
      
    
    <form>
       <input class="submit-Button" type="button" value="Flight Search" onclick="window.location.href='/flightsearch'" />
    </form>
    

    </div><br><br>

    <div class="row">
  <div class="column">
    <div class="card">
    <img src="/static/images/flight.jpg" alt="flight">
      <h2 class="font-header">FIND YOUR ROUTE</h2><br>
      <p>Choose your origin and destination</p><br>
      <p>Select your optimal date for travel</p><br>
      <p>Submit</p> 
    </div>
  </div>

  <div class="column">
    <div class="card">
     <img src="/static/images/worldsearch.png" alt="worldsearch">
      <h2 class="font-header">SEARCH</h2><br>
      <p>Shortest flight path</p>
      <p>Graphical data</p>
      <p>On-time performance</p>
      <p>Determine which flight is best for you</p>
    </div>
  </div>  
    
  
   
    

   
    

  
  
    
  
  
  
  
  
  

  </body>
  
</html>